* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------- */
/* 공통스타일 관련 */
/* ----------------------------- */
a {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  padding: 3px 15px;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
  border: none;
  /* 버튼 배경 색 */
  background-color: #6e5af0;
  /* 폰트 색 */
  color: white;
  font-size: 25px;
  font-weight: 900;
}
.btn-middle {
  width: 50px;
  height: 50px;
}
.btn-large {

  width: 60px;
  height: 60px;
}

.btn-top{
  position:fixed;
  bottom: 50px;
  right: 50px;
  padding: 0;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.input-w-80p{
  width: 80%;
}


/* ----------------------------- */
/* 지역스타일 관련 */
/* ----------------------------- */
.container {
  display: grid;
  grid-template-columns: 200px 1fr;
}

/* ------------------------------ */
/* 사이드바 관련 */
/* ------------------------------ */
.side-bar {
  background-color: #ff3b49;
}

.side-inner {
  /*
    grid item인 `.side-bar`에 position을 줘도 적요이 안되므로
    `side-bar`의 콘텐츠(자식요소)들을 한번 더 `.side-inner` 랩핑 해줬다.
  */
  position: sticky;
  top: 0;
  color: #ffffff;
}

.title {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nav-title {
  background-color: #ff5662;
  padding: 8px 15px;
  font-weight: 900;
}

.nav-list {
  list-style: none;

  /* flex 넣은 이유: 아이템들 간의 간격을 편하게 조절하기 위해 */
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.nav-list > li:hover {
  background-color: #000000;
  transition: all 1.5s;
}

/* ------------------------------ */
/* 메인 관련 */
/* ------------------------------ */
.main {
  min-height: 100vh;
  background-color: gray;
}


.main-search-box{
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.main-banner{
  background-image: url("../img/main_title.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;

  /* 여러줄이 나왔을떄, 줄 전체를 바꿀때 사용하는것. */
  justify-content: center;

  /* 줄 하나있을때, 그 줄 하나를 어떻게 바꿀건가 */
  align-items: center;
}

.sub-title{
  color: white;
  /* 폰트 굵기 */
  font-weight: 900;
  /* 폰트 크기 */
  font-size: 50px;
}


.main-contents-box{
  display: grid;
  padding: 20px;
  /* grid에서 컬럼조정하기 */
  /* 화면확대로 인한, 카드들이 무한정 커지는걸 방지하기 위함. */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card{
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-img{
  /* 내 부모넓이(card)의 70%만큼 여백을 넣겠다 라는의미. */
  /* 부모요소의 크기에 따라 비율을 조정할때 사용함. */
  padding-top: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;

  /* 가로:세로(비율개념)  */
 /* aspect-ratio: 1/2; */
}


.card-title{
  font-size: 20px;
  font-weight: 900;
}